#textdomain wesnoth-Grafted_Era
[unit_type]
    id=Graft_Giant
    name= _ "Giant"
    race=human
    ignore_race_traits=yes
    #{GRAFT_TRAIT_STRONG}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}
    {TRAIT_QUICK}
    gender=male
    image="units/darklands/giant.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=64
    movement_type=largefoot
    [resistance]
        arcane=80
        impact=80
        blade=100
        pierce=100
    [/resistance]
    movement=5
    experience=150
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    description= _ "Men of tremendous size and strength are sometimes born to the peasants of the Darklands, to grow up surrounded by superstition, hatred and awe. Their life is often a brutish one, forever on the fringe of village society, even their cloudy minds refusing them much help. But they may find gold, and license to bully those that always secretly hated them, and that they always secretly hated, among the troops of the dark lords."

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/darklands/giant.png" "units/darklands/giant.png" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=axe
        description={STR_AXE}
        icon=attacks/axe.png
        type=blade
        range=melee
        #damage=28
        damage=16
        number=2
    [/attack]

    [attack]
        name=axe_head
        description=_"axe head"
        icon=attacks/axe.png
        type=impact
        range=melee
        #damage=22
        damage=14
        number=2
    [/attack]

    #{{{ blade
    [attack_anim]
        [filter_attack]
            type=blade
        [/filter_attack]
        [frame]
            begin=-400
            end=-350
            image="units/darklands/giant.png"
        [/frame]
        [frame]
            begin=-350
            end=-50
            image="units/darklands/giant.png"
            sound=sling-big-miss.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/darklands/giant.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/darklands/giant.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]

        [frame]
            begin=100
            end=175
            image="units/darklands/giant.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/darklands/giant.png"
        [/frame]
    [/attack_anim]
    #}}}
    #{{{ impact
    [attack_anim]
        [filter_attack]
            type=impact
        [/filter_attack]
        [frame]
            begin=-400
            end=-350
            image="units/darklands/giant.png"
        [/frame]
        [frame]
            begin=-350
            end=-50
            image="units/darklands/giant.png"
            sound=sling-big-miss.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/darklands/giant.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/darklands/giant.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]

        [frame]
            begin=100
            end=175
            image="units/darklands/giant.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/darklands/giant.png"
        [/frame]
    [/attack_anim]
    #}}}
[/unit_type]
