#textdomain wesnoth-Grafted_Era
[unit_type]
    id=Graft_Steppe_Spearman
    name= _ "Steppe Spearman"
    race=orc
    gender=male
    image="units/steppe/spearman.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=Graft_steppebasic
    movement=6
    experience=70
    level=2
    alignment=chaotic
    advances_to=Graft_Steppe_Skewer
    cost=26
    usage=fighter
    description= _ "The orcs of the steppe learnt early on that their axes were simply not suitable against all foes. In accordance with this, some warriors forgo further usage of the axe and take up short spears. While necessary, the change is often somewhat awkward."

    {DEFENSE_ANIM "units/steppe/spearman.png" "units/steppe/spearman.png" {SOUND_LIST:ORC_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]

    [attack_anim]
        [frame]
            begin=-200
            end=-150
            image="units/steppe/spearman.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/steppe/spearman.png"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/steppe/spearman.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/steppe/spearman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
