#textdomain wesnoth-Grafted_Era

#define GRAFT_ABILITY_UPKEEP_BAND_LVL0 RACE_OR_TYPE BAND_MATE
    [upkeep]
        id=Graft_upkeep_band
        name= _ "upkeep band"
        description= _ "Upkeep Band :
You pay an additional 1 gold upkeep for each band of creature having the banding ability under your control. A unit with the banding ability, when alone, is also considered as a band (of 1 unit)."
    [/upkeep]
[/abilities]

[event]
    name=side turn
    first_time_only=no

    [set_variable]
        name=end_final_loop
        value=no
    [/set_variable]
    [while]
        [variable]
            name=end_final_loop
            equals=no
        [/variable]
        [do]
            # find a bander that hasn't been assigned to a group yet
            # until all banders have been assigned to a group
            [store_unit]
                [filter]
                    side=$side_number
                    {RACE_OR_TYPE}={BAND_MATE}
                    [not]
                        ability=Graft_dummy_banding
                    [/not]
                [/filter]
                variable=banding_unit_store
                mode=append
            [/store_unit]

            [if]
                [variable]
                    name=banding_unit_store.length
                    greater_than_equal_to=1
                [/variable]
                [then]
                    # if a bander has been found, the number of groups is incremented by 1
                    # and it starts making a group
                    [store_unit]
                        [filter]
                            x,y=$banding_unit_store.x,$banding_unit_store.y
                        [/filter]
                        variable=banding_label_unit_store
                        mode=append
                    [/store_unit]
                    [object]
                        silent=yes
                        [filter]
                            x=$banding_unit_store.x
                            y=$banding_unit_store.y
                        [/filter]
                        [effect]
                            apply_to=new_ability
                            [abilities]
                                {GRAFT_ABILITY_DUMMY_BANDING}
                            [/abilities]
                        [/effect]
                    [/object]

                    [set_variable]
                        name=end_loop
                        value=no
                    [/set_variable]
                    [while]
                        [variable]
                            name=end_loop
                            equals=no
                        [/variable]
                        [do]
                            # adds adjacent units matching the filter to the band
                            # until no more units can be added
                            [store_unit]
                                [filter]
                                    side=$side_number
                                    {RACE_OR_TYPE}={BAND_MATE}
                                    [not]
                                        ability=Graft_dummy_banding
                                    [/not]
                                    [and]
                                        [filter_adjacent]
                                            ability=Graft_dummy_banding
                                        [/filter_adjacent]
                                    [/and]
                                [/filter]
                                variable=add_to_band
                                mode=append
                            [/store_unit]

                            [if]
                                [variable]
                                    name=add_to_band.length
                                    greater_than_equal_to=1
                                [/variable]
                                [then]
                                    [while]
                                        [variable]
                                            name=i
                                            less_than=$add_to_band.length
                                        [/variable]
                                        [do]
                                            [object]
                                                silent=yes
                                                [filter]
                                                    x=$add_to_band[$i].x
                                                    y=$add_to_band[$i].y
                                                [/filter]
                                                [effect]
                                                    apply_to=new_ability
                                                    [abilities]
                                                        {GRAFT_ABILITY_DUMMY_BANDING}
                                                    [/abilities]
                                                [/effect]
                                            [/object]

                                            [set_variable]
                                                name=i
                                                add=1
                                            [/set_variable]
                                        [/do]
                                    [/while]
                                    {CLEAR_VARIABLE i}
                                    [set_variable]
                                        name=end_loop
                                        value=no
                                    [/set_variable]
                                [/then]
                                [else]
                                    [set_variable]
                                        name=end_loop
                                        value=yes
                                    [/set_variable]
                                [/else]
                            [/if]

                            {CLEAR_VARIABLE add_to_band}
                        [/do]
                    [/while]
                    [set_variable]
                        name=end_final_loop
                        value=no
                    [/set_variable]
                [/then]
                [else]
                    [set_variable]
                        name=end_final_loop
                        value=yes
                    [/set_variable]
                [/else]
            [/if]

            {CLEAR_VARIABLE banding_unit_store}
        [/do]
    [/while]

    # remove the dummy ability from all creepers and clear the variables
    [store_unit]
        [filter]
            side=$side_number
            {RACE_OR_TYPE}={BAND_MATE}
            ability=Graft_dummy_banding
        [/filter]
        variable=clear_band
        mode=append
    [/store_unit]

    [while]
        [variable]
            name=j
            less_than=$clear_band.length
        [/variable]
        [do]
            [object]
                silent=yes
                [filter]
                    x=$clear_band[$j].x
                    y=$clear_band[$j].y
                [/filter]
                [effect]
                    apply_to=remove_ability
                    [abilities]
                        {GRAFT_ABILITY_DUMMY_BANDING}
                    [/abilities]
                [/effect]
            [/object]
            [set_variable]
                name=j
                add=1
            [/set_variable]
        [/do]
    [/while]
    {CLEAR_VARIABLE j}

    # remove an amount of gold depending on the number of groups of banders and warns the player with a team label
    [gold]
        amount=-$banding_label_unit_store.length
        side=$side_number
    [/gold]
    {FOREACH banding_label_unit_store i}
        [unstore_unit]
            variable=banding_label_unit_store[$i]
            text=_ "-1 gold"
            red,green,blue=204,204,51
        [/unstore_unit]
    {NEXT i}

    {CLEAR_VARIABLE end_loop}
    {CLEAR_VARIABLE end_final_loop}
    {CLEAR_VARIABLE clear_band}
    {CLEAR_VARIABLE banding_label_unit_store}
[/event]

[+abilities]
#enddef

#define GRAFT_ABILITY_DUMMY_BANDING
    [upkeep]
        id=Graft_dummy_banding
    [/upkeep]
#enddef
